<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Practica 1</title>
</head>
<style>
    body {
        background-color: white;
    }
    
    #imagen {
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
    }
    
    h1 {
        color: white;
        text-align: center;
    }
</style>

<body>
    <div id="imagen">
        <h1>Pulsa Alt + F12 para cambiar la imagen de fondo</h1>
    </div>
</body>
<script src="../scripts/script_p1.js"></script>

</html>