<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 2</title>

    <style>
        body {
            text-align: center;
        }
        
        div {
            display: inline-block;
            text-align: center;
            border: 1px solid black;
            padding: 1em;
            width: 200px;
            height: 100px;
            margin: 1em;
        }
        
        div#origen {
            background-color: yellow;
        }
    </style>
</head>

<body>
    <div id="origen">
        Soy Arrastrable
    </div>
    <div id="destino">
        Soy el destino
    </div>
</body>
<script src="../scripts/script_p2.js"></script>

</html>